// Place all the styles related to the Chess controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin back($i){
	background: image-url($i) no-repeat center center fixed;
	-webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

$length: 420px;

$mainBorder: 4px solid #999999;

@mixin square($length){
	width: 48px ; 
	height: 48px;	
	padding: 0%;
	border: 1px black solid;
	padding-right: -5px;
	margin-right: -3px;
	color: #234535;
	font-size: 10pt;
	font-weight: bold;
}

html {
  min-width: 100%;
  min-height: 100%;
}

body {
  min-width: 100%;
  min-height: 100%;
  padding: 0;
  @include back("zwartevilt.png"); 

}

.main {
	display: flex;
	flex-flow: row-inline;
}

.header {
   display: inline;	
   padding: 2%;
   
}

.header h1 {
    margin-top: -2%;
    margin-bottom: 0;
    padding-top: 1%;
    padding-bottom: 1%;
    padding-left: 1%;
    border: $mainBorder;
	  @include back("panel.jpg");
    color: #212121;
    font-weight: bold;
    font-size: 300%;
}


.cpuname{
	margin: 0 auto;
  position: relative;
  text-align: left;
}

.playername {
	margin: 0 auto;
	position: relative;
  text-align: left; 
}

h4 {
	white-space: nowrap;
}

#backboard {
  margin: 0 auto;
  margin-left: 1%;
  margin-right: 1%;
	width: $length;
	height: $length;
	@include back("chesswall.jpg"); 
  padding: 15px;
	flex-flow: row wrap;
	justify-content: space-around;
	flex: none;
	display: inline-flex;
	border: $mainBorder;

}

.squarer {
	@include square($length);
    background-color: red;
 }

 .squarer:hover {
   -moz-box-shadow:    inset 0 0 10px rgba(0,0,255,0.8);
   -webkit-box-shadow: inset 0 0 10px rgba(0,0,255,0.8);
   box-shadow:         inset 0 0 10px rgba(0,0,255,0.8);
  
 }

.squareb {
	@include square($length);
    background-color: #252525;
 }

.squareb:hover {
   -moz-box-shadow:    inset 0 0 10px rgba(0,0,255,0.4);
   -webkit-box-shadow: inset 0 0 10px rgba(0,0,255,0.4);
   box-shadow:         inset 0 0 10px rgba(0,0,255,0.4);
 }

.name {
	font-size: 14pt;
	font-weight: bold;
	color: #dd1133;
}

 img {
    width : 35px;
    height: 35px;
    padding: 0px;
    margin: 0px;
 }

.selected {
	border: 2px green solid;
}

.col-md-4 {
	width: 50%;
	height: 5%;
	margin: 17% 2% 17% 2%;
	padding-top: 1%;
}
.row{
	background-color: black;
  border: $mainBorder;

}

.col-md-4 h3 {
	width: 100%;
	color: #cdcdcd;
}

.turns {
	height: 40%;

	margin-right: 2%;
	color: #aaaaaa;
  text-align: left;
  }

.turns h1 {
  font-size: 200%;
}

.turns  h4 {
   color: #dd1133;
   font-size: 150%;	
   font-weight: bold;
}

.turns h6 {
  font-size: 80%;
  color: #dd1133;
  font-weight: bold;
}

.turn-center {
  display: flex;
  align-items: center;
}

.col-md-3 {
  display: inline-block;
}


.form {
    width: 300px;
    height: 300px;
    margin-top: 2%;
    border: $mainBorder;

	  display: flex;
    justify-content: center ;
    align-items: center;

    @include back("Castle.jpg");
    font-size: 16pt;
    font-weight: bold;
    color: #212121;
    text-align: center;

}

.pre-button {
	background-color: #989898;
	border: 1px solid #323232;
	border-radius: 5%;
}

.form input[type=text]{
  background-color: #bcbcbc;
  border: 1px solid #323232;
  border-radius: 5%;

}

.form input[type=text]:focus {
  outline: 1px solid #923232;
}

.form input[type=submit]:focus {
  outline: 1px solid #923232;
}

.win {
    width: 300px;
    height: 300px;
    margin-top: 2%;
    border: $mainBorder;
    @include back("winstate.jpg");
	  display: flex;
	  flex-flow: column;
    justify-content: center ;
    align-items: center;
    font-size: 28pt;
    font-weight: bold;
    color: #212121;
    color: #121212;
    text-align: center;
}

.lose {
    width: 300px;
    height: 300px;
    margin-top: 2%;
    border: $mainBorder;
    @include back("endstate.jpg");
	  display: flex;
	  flex-flow: column;
    justify-content: center ;
    align-items: center;
    font-size: 28pt;
    font-weight: bold;
    color: #212121;
    color: #121212;
    text-align: center;

}

.button {
	width: 25%;
	height: 15%;
	background-color: #989898;
	border: 1px solid #323232;
	border-radius: 8%;
 
}

.button h3 {
    margin-top: 3%;
	
	
}

h3 a {
	text-decoration: none;
	color: red;
  
}

h3 a:hover {
  width: 50%; 
	text-decoration: none;
	color: green;

}

.end h1 {
	 font-size: 38pt;
   font-weight: bold;
   color: #c51121;
}

.header a {
  margin-left: 4%;
  font-size: 150%;
	text-decoration: none;
	color: #32a1c1;
  text-shadow: 2px 1px 4px #a7239d;
}

.header a:hover {
  width: 100%; 
	text-decoration: none;
	color: green;

}


@media only screen and (max-device-width: 750px){
   


  $length: 315px;

@mixin square($length){
  width: 36px ; 
  height: 36px; 
  padding: 0%;
  border: 1px black solid;
  padding-right: -5px;
  margin-right: -3px;
  color: #234535;
  font-size: 10pt;
  font-weight: bold;
}



#backboard {
  margin: 0 auto;
  margin-left: 1%;
  margin-right: 1%;
  width: $length;
  height: $length;
  @include back("chesswall.jpg"); 
  padding: 15px;
  flex-flow: row wrap;
  justify-content: space-around;
  flex: none;
  display: inline-flex;
  border: $mainBorder;

}

.squarer {
	@include square($length);
    background-color: red;
 }
.squareb {
	@include square($length);
    background-color: #252525;
 }

.name {
	font-size: 8pt;
	font-weight: bold;
	color: #dd1133;
}

.turns  h4 {
   color: #dd1133;
   font-size: 12pt;	
   font-weight: bold;
   text-align: right;
}
.selected {
	border: 1px green solid;
}

.squareb:hover {
   border: 2px green solid;
 }
 .squarer:hover {
   border: 2px green solid;
 }

}






