@import "bootstrap-sprockets";
@import "bootstrap";

html {
	background-color: black;
}
body{
	font-family: Caslon;

}

.flash {
  position: absolute;
  width: 25%;
  margin: 0 auto;
  z-index: 1;
  top: 2%;
  left: 35%;
}

.alert {
  background-color: #ad3529;
  color: #121212;
  height: 10%;
  margin: -1%;
  padding-top: -10%;
  padding: 2px;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
}