@import "bootstrap-sprockets";
@import "bootstrap";

html {
	background-color: black;
}
body{
	font-family: Caslon;

}

.divMain {
  display: flex;
  flex-flow: row;
  width: 100%;
}

.flash {
  position: absolute;
  width: 25%;
  margin: 0 auto;
  z-index: 1;
  top: 2%;
  left: 35%;
}

.alert {
  background-color: #ad3529;
  color: #121212;
  height: 10%;
  margin: -1%;
  padding-top: -10%;
  padding: 2px;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
}

.move-contain {
	max-height: 150px;
}

.left-turn {
	margin: 0;
	width: 50%;
	float: left;
}

.right-turn {
	margin: 0;
	width: 50%;
	float: right;
	
}

@media only screen and (max-device-width: 750px) {
    .divMain {
        display: block;
        width: 100%;
    }
}


