@import "bootstrap-sprockets";
@import "bootstrap";

/*
  TABLE OF CONTENT
    1. Mixins and Variable
    2. Global Page styling
    3. Flash Styling
    4. Turn container styling
    5. Media Query Styling
*/

//Mixin/Variables

@mixin back($i){
  background: image-url($i) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

$length: 420px;

$mainBorder: 4px solid #999999;

@mixin square($length){
	width: 48px ;
	height: 48px;
	padding: 0%;
	border: 1px black solid;
	padding-right: -5px;
	margin-right: -3px;
	color: #234535;
	font-size: 10pt;
	font-weight: bold;
}

//Global Page

html {
	background-color: black;
}
body{
	font-family: Caslon;

}

.divMain {
  display: flex;
  flex-flow: row;
  width: 100%;
}

//Flash styling

.flash {
  position: absolute;
  width: 25%;
  margin: 0 auto;
  z-index: 1;
  top: 2%;
  left: 35%;
}

.alert {
  background-color: #ad3529;
  color: #121212;
  height: 10%;
  margin: -1%;
  padding-top: -10%;
  padding: 2px;
  font-size: 150%;
  font-weight: bold;
  text-align: center;
}

//container

.move-contain {
	max-height: 150px;
}

.left-turn {
	margin: 0;
	width: 50%;
	float: left;
}

.right-turn {
	margin: 0;
	width: 50%;
	float: right;

}

//Device Media Query

@media only screen and (max-width: 750px) {

   $length: 315px;
      .divMain {
          display: block;
          width: 100%;
          margin: 0 auto;
          font-size: 12px;
      }

      .header {
        font-size: 14px;
      }
      .cpu-name{
         margin: 0 auto;
    	   margin: 0;
         position: relative;
         text-align: left;
       }

       .player-name {
         margin: 0 auto;
         margin: 0;
  	     position: relative;
         text-align: left;
       }

    	@mixin square($length){
    	  width: 35px ;
    	  height: 35px;
    	  padding: 0%;
    	  border: 1px black solid;
    	  padding-right: -5px;
    	  margin-right: -3px;
    	  color: #234535;
    	  font-size: 10pt;
    	  font-weight: bold;
    	}

    	#backboard {
    	  margin: 0 auto;
    	  margin-left: 1%;
    	  margin-right: 1%;
    	  min-width: $length;
    	  min-height: $length;
    	  @include back("chesswall.jpg");
    	  padding: 15px;
    	  flex-flow: row wrap;
    	  justify-content: space-around;
    	  flex: none;
    	  display: inline-flex;
    	  border: $mainBorder;

    	}
      .square-r {
        	@include square($length);
          background-color: red;
      }
      .square-b {
        	@include square($length);
          background-color: #252525;
      }
      img {
    	    width : 27px;
    	    height: 27px;
    	    padding: 0px;
    	    margin: 0px;
      }

}
