// Place all the styles related to the endstate controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.endstate {
  width: 100%;
  height: 800px;
	text-align: center;
	background-color: black;
	color: #dcdcdc;
	border: 4px solid #999999;

}

.endstate h1 {
	font-size: 36pt;
	font-weight: bold;
}
