<div class ="container">


<div class="row">
<div class = "cpuname col-md-4">
<h3>Enemy:  </h3>
<h4><%= tag.div(@cpu, class: %w(name)) %></h4>
</div>
</div>
<div class ="row">
<div class ="playername col-md-4">
  <h3>Challenger:  </h3>
<h4><%= tag.div(@player, class: %w(name)) %></h4>

</div>
</div>
</div>
<div id = 'backboard'>

<%= render 'chess/board' %>

</div>

<div class="turns container">
  <div class="row">
<div class ="col-md-4 ">
  <h1> Turn: </h1>
  <h4><%= @counter %></h4>
</div>
</div>
</div>
