<!DOCTYPE html>

<html>
  <head>
    <title>ChessApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<% content_for(:body_attributes) do %>
       data-no-turbolink="true"
    <% end %>
    <%= yield %>
  </body>
</html>
